*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#contacto{
    display: grid;
    width: 100%;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "con1";
    grid-template-areas: "formulario";
}

#contacto .con1, .formulario{
    grid-area: con1, formulario;
}

.con1{
    padding-inline: 15px;    
    text-align: center;
    margin-block: auto;
}

.con1 h2{
    font-size: 30px;
    margin-top: 15px;
    color: #444;
}

.con1 .subtitle{
    text-align: center;
    font-size: 20px;
}

.con1 img{
    width: 20px;
    margin-inline: 5px;
}

.con1 p{
    font-size: 16px;
    margin: 10px;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario form{
    padding: 30px 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #5271FF;
}

.formulario .input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}


.formulario .mostrar-contraseña {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.formulario #mostrar-contraseña{
    margin-right: 15px;
    margin-bottom: 15px;    
}

.formulario .input-group img{
    width: 25px;
}


.formulario h3{
    color: #5271FF;
    font-size: 35px;
    padding-bottom: 10px;
}

.formulario label{
    color: #5271FF;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.formulario select{    
    text-align: center;
    padding: 5px 0px;
    border: 2px solid #5271FF;
    background-color: #EDFFF0;
    border-radius: 25px;
    outline: none;
    color: #5271FF;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.formulario input, textarea{
    padding: 10px 25px;
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: #EDFFF0;
    border: 2px solid #5271FF;
    color: #5271FF;
    outline: none;
}

.formulario input::placeholder, textarea::placeholder{
    color: #5271FF;
    opacity: .7;
}

.formulario .form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.formulario .form-txt a{
    color: #5271FF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding-top: 15px;
}

.formulario .btn{    
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: #5271FF;
    box-shadow: 0 0 20px #5271FF;
    cursor: pointer;
    padding: 10px 40px;
}

@media screen and (max-width: 550px){
    #contacto{        
        grid-template-columns: repeat(1, 1fr);
    }
}